<section class="instagram-section">
  <div class="container">
    <div class="instagram-follow">
      <h3>Síguenos en &#64;Tisana</h3>
      <div class="social-images">
        <img src="images/instagram/instagram-1.jpg" alt="Instagram 1">
        <img src="images/instagram/instagram-2.jpg" alt="Instagram 2">
        <img src="images/instagram/instagram-3.jpg" alt="Instagram 3">
        <img src="images/instagram/instagram-4.jpg" alt="Instagram 4">
        <img src="images/instagram/instagram-5.jpg" alt="Instagram 5">
        <img src="images/instagram/instagram-6.jpg" alt="Instagram 6">
      </div>
    </div>
  </div>
</section>
